# Terraform state
*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl
terraform.tfvars
*.tfplan

# Python cache
**/__pycache__/
*.pyc

# Helm output
*.tgz

# System files
.DS_Store
.vscode/

# AWS CLI / auth
.aws/
eks update-kubeconfig *

# Kubernetes secrets
modules/jenkins/aws_credentials_secret.tf

# ❌ Неиспользуемые директории (в рамках теми 10)
modules/jenkins/
modules/argocd/
modules/ecr/
modules/eks/
helm/
django-app/
django-chart/
eks update-kubeconfig *
